<section fxLayoutAlign="center">
  <mat-card>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
      <mat-form-field>
        <input matInput type="email" placeholder="email">
        <mat-error>Debe ingresar un email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="password">
        <mat-error>Debe ingresar un password</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
  </mat-card>
</section>

