<mat-toolbar color="primary">
  <button mat-icon-button (click)="onClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Libro Market</span>
  <section fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="1em" class="nav-menu">
      <li *ngIf="!estadoUsuario"><a routerLink="/registrar">Registrar</a></li>
      <li *ngIf="!estadoUsuario"><a routerLink="/login">Login</a></li>
      <li *ngIf="estadoUsuario"><a routerLink="/">Home</a></li>
      <li *ngIf="estadoUsuario"><a (click)="cerrarSesion()">Salir</a></li>
    </ul>
  </section>
</mat-toolbar>
