<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em" #f="ngForm" (ngSubmit)="guardarUsuario(f)">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matInput placeholder="Su nombre" value="" ngModel name="name" #nameInput="ngModel" required />
      <mat-error *ngIf="nameInput.hasError('required')">El nombre no puede estar en blanco</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellidos</mat-label>
      <input type="text" matInput placeholder="Sus apellidos" value="" ngModel name="lastname" #lastnameInput="ngModel" required />
      <mat-error *ngIf="lastnameInput.hasError('required')">Sus apellidos no puede estar en blanco</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input type="text" matInput placeholder="Su username" value="" ngModel name="username" #usernameInput="ngModel" required />
      <mat-error *ngIf="usernameInput.hasError('required')">Su username no puede estar en blanco</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Su email" value="" ngModel name="email" email required
        #emailInput="ngModel" />
      <mat-error *ngIf="emailInput.hasError('required')">El email no puede estar en blanco</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">El email es invalido</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="El password debe tener 7 caracteres">
      <mat-label>Constraseña</mat-label>
      <input type="password" matInput placeholder="Su contraseña" value="" ngModel name="password" required
        #passwordInput="ngModel" minlength="7" />
      <mat-error *ngIf="passwordInput.hasError('required')">La contraseña no puede estar en blanco</mat-error>
      <mat-error *ngIf="!passwordInput.hasError('required')">La contraseña debe tener 7 o más caracteres</mat-error>
    </mat-form-field>
    <button [disabled]="f.invalid" type="submit" mat-raised-button color="primary">Guardar</button>
  </form>
</section>
